<footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
        <p>&copy; 2024 Violentistas de Siempre. Todos los derechos reservados. (Ahh te cachai?)</p>
        <div class="social-links">
            <a href="https://www.instagram.com/violentistasdesiempre/" class="text-white me-3" target="_blank">Instagram</a>
            <a href="https://violentistasdesiempre.bandcamp.com/" class="text-white me-3" target="_blank">Bandcamp</a>
            <a href="https://www.youtube.com/@ViolentistasDeSiempre" class="text-white me-3" target="_blank">Youtube Videoclip</a>
            <a href="https://www.youtube.com/channel/UCppkcxfpU0118uMcYkR-Wnw" class="text-white me-3" target="_blank">Youtube Topic</a>
            <a href="https://open.spotify.com/intl-es/artist/2i3F5qbQEHcGt4p3uDfQkH?si=KOqLcATYTk6Of8ZfNo94yQ" class="text-white me-3" target="_blank">Spotify</a>
            <a href="https://music.apple.com/cl/artist/violentistas-de-siempre/1732922822" class="text-white me-3" target="_blank">Apple Music</a>
            <a href="https://www.deezer.com/en/artist/256151132" class="text-white me-3" target="_blank">Deezer</a>
            <a href="https://tidal.com/artist/46015763" class="text-white me-3" target="_blank">Tidal</a>
        </div>
    </div>
</footer>